<ion-header style="background-color: white !important; border: none !important">
  <div
    class="w-full bg-white h-[8dvh] lg:h-[10dvh] shadow-lg flex items-center justify-between px-[4%]"
  >
    <h1 class="text-black font-[Poppins , sans-serif]">Funeral Logo</h1>
    <div class="flex flex-col items-center gap-[3px] cursor-pointer">
      <div class="w-[21px] h-[3.2px] bg-[#4B4B4B]"></div>
      <div class="w-[21px] h-[3.2px] bg-[#4B4B4B]"></div>
      <div class="w-[21px] h-[3.2px] bg-[#4B4B4B]"></div>
    </div>
  </div>
</ion-header>
<!-- where the main content goes to  -->
<ion-content>
  <div class="my-[5%]">
    <ion-list>
      <ion-item *ngFor="let singleRecipe of recipe">
        <div class="overflow-hidden w-[40px] h-[40px] rounded-full">
          <ion-avatar>
            <img
              [src]="singleRecipe.imageUrl"
              alt=""
              class="object-cover object-center w-[40px] h-[40px] rounded-full"
            />
          </ion-avatar>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="my-[5%]">
    <ion-list>
      <ion-item *ngFor="let singleRecipe of recipe">
        <div class="overflow-hidden w-[40px] h-[40px] rounded-full">
          <ion-avatar>
            <img
              [src]="singleRecipe.imageUrl"
              alt=""
              class="object-cover object-center w-[40px] h-[40px] rounded-full"
            />
          </ion-avatar>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="my-[5%]">
    <ion-list>
      <ion-item *ngFor="let singleRecipe of recipe">
        <div class="overflow-hidden w-[40px] h-[40px] rounded-full">
          <ion-avatar>
            <img
              [src]="singleRecipe.imageUrl"
              alt=""
              class="object-cover object-center w-[40px] h-[40px] rounded-full"
            />
          </ion-avatar>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="my-[5%]">
    <ion-list>
      <ion-item *ngFor="let singleRecipe of recipe">
        <div class="overflow-hidden w-[40px] h-[40px] rounded-full">
          <ion-avatar>
            <img
              [src]="singleRecipe.imageUrl"
              alt=""
              class="object-cover object-center w-[40px] h-[40px] rounded-full"
            />
          </ion-avatar>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="my-[5%]">
    <ion-list>
      <ion-item *ngFor="let singleRecipe of recipe">
        <div class="overflow-hidden w-[40px] h-[40px] rounded-full">
          <ion-avatar>
            <img
              [src]="singleRecipe.imageUrl"
              alt=""
              class="object-cover object-center w-[40px] h-[40px] rounded-full"
            />
          </ion-avatar>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div
    class="h-[20vh] bg-white w-full bg-no-repeat object-cover"
    style="
      background-image: url('../../assets/icon/favicon.png');
      background-size: cover;
      background-position: center;
    "
  ></div>

  <div
    class="h-[20vh] bg-white w-full bg-no-repeat object-cover"
    style="
      background-image: url('../../assets/icon/favicon.png');
      background-size: cover;
      background-position: center;
    "
  ></div>

  <div
    class="h-[20vh] bg-white w-full bg-no-repeat object-cover"
    style="
      background-image: url('../../assets/icon/favicon.png');
      background-size: cover;
      background-position: center;
    "
  ></div>

  <div
    class="h-[20vh] bg-white w-full bg-no-repeat object-cover"
    style="
      background-image: url('../../assets/icon/favicon.png');
      background-size: cover;
      background-position: center;
    "
  ></div>
</ion-content>
