<ion-header>
  <ion-toolbar>
    <ion-title>
      Recipes Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- the main content -->
 <ion-content>
   <ion-list>
    @for (recipe of getPaginatedItems; track $index) {
    <ion-item (click)="singleRecipe(recipe.id)" class="cursor-pointer">
        <ion-avatar slot="start">
          <ion-img [src]="recipe.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label> {{recipe.title}} </ion-label>
    </ion-item>
  }
   </ion-list>
   <div class="flex justify-end pr-2">
    <div class="py-3 w-[150px] flex items-center text-xs gap-4">
      <button (click)="changePage(currentPage -1)" [className]="currentPage <= 1 ? 'invisible' : ''">Previous</button>
      <p> {{currentPage}} of {{totalPages}} </p>
       <!-- <div class="flex items-center justify-center">
        @for (_ of recipe; track $index) {
            <button [className]="currentPage === $index + 1  ? 'bg-blue-500 text-white' : '' " (click)="changePage($index + 1)">{{$index + 1}}</button>
        }
       </div> -->
      <button (click)="changePage(currentPage + 1)" [className]="currentPage >= totalPages ? 'invisible' : ''">Next</button>
    </div>
   </div>
  
 </ion-content>