<ion-header>
  <ion-toolbar>
    <ion-title>
      Recipes Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- the main content -->
 <ion-content>
   <ion-list>
    @for (recipe of getPaginatedItems; track $index) {
    <ion-item (click)="singleRecipe(recipe.id)" class="cursor-pointer">
        <ion-avatar slot="start">
          <ion-img [src]="recipe.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label> {{recipe.title}} </ion-label>
    </ion-item>
    
  }
   </ion-list>
   <div class="flex justify-end pr-2">
    <div class="py-3 w-[250px] flex items-center justify-between">
      <button>Previous</button>
      <p> {{currentPage}} of {{totalPages}} </p>
      <button>Next</button>
    </div>
   </div>
  
 </ion-content>