<div class="w-full min-h-[100vh] bg-white overflow-y-scroll pb-5">
  <nav class="h-[10vh] w-full bg-black"></nav>

  <!-- The profile page  -->
   <div id="profile-container" class="w-full flex flex-col gap-5 px-4 md:px-[8%]">
      <!-- profile header  -->
       <div class="w-full rounded-lg shadow-sm border-solid border-gray-200 border-[0.2px] flex items-center justify-between text-black px-4 py-4 mt-5">
          <h1 class="font-semibold">My Profile</h1>
          <!-- edit button -->
           <button class="px-4 py-2 rounded-full border-solid border-2 border-gray-100">
            Edit Profile
           </button>
       </div>

       <!-- the profile details  -->
        <div class="w-full shadow-sm p-4 sm:p-7 border-[0.2px] border-gray-200 rounded-lg">
          <!-- the ultimate member tag -->
          <div class="flex items-center justify-end mb-4">
             <span class="px-6 py-1 bg-teal-600 rounded-full text-sm  text-white">
              Ultimate Member
           </span>
          </div>

          <!-- The profile image and details -->
           <div class="flex items-center gap-4">
            <!-- image -->
             <img src="" alt="" loading="lazy" fetchpriority="high" class="w-[80px] h-[80px] rounded-full bg-blue-500 sm:w-[120px] sm:h-[120px] object-cover object-top">

             <!-- info -->
              <div class="flex flex-col gap-2 text-black">
                <h1>Maxwell Nsiah Kwarteng</h1>
                <button class="px-4 py-1 rounded-full text-xs bg-black text-white">
                  Individual-Account
                </button>
                <h3>Joined , 23 July 2025</h3>
              </div>
           </div>
               <!-- line -->
               <div class="w-full h-[1px] bg-gray-200 my-7"></div>

               <!-- Details -->
                <!-- Personal information -->
                <div>
                  <h1 class="font-bold mb-7 text-lg text-black">Personal Information</h1>
                  <div class="grid grid-cols-1 sm:grid-cols-2   md:grid-cols-3 gap-2 sm:gap-4 md:gap-7">
                     <div>
                      <h2 class="text-gray-500">First Name</h2>
                      <h1 class="text-black font-semibold mt-1">Maxwell</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Middle Name</h2>
                      <h1 class="text-black font-semibold mt-1">Kwarteng</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">last Name</h2>
                      <h1 class="text-black font-semibold mt-1">Nsiah</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Email</h2>
                      <h1 class="text-black font-semibold mt-1">maxwelldoe.email.com</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Telephone</h2>
                      <h1 class="text-black font-semibold mt-1">0554751182</h1>
                     </div>
                  </div>
                </div>
                <!-- line  -->
                 <div class="w-full h-[1px] bg-gray-200 my-7"></div>
                 <!-- Address information  -->
                <div>
                  <h1 class="font-bold mb-7 text-lg text-black">Address Information</h1>
                  <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3 gap-4 sm:gap-7">
                     <div>
                      <h2 class="text-gray-500">Address line 1</h2>
                      <h1 class="text-black font-semibold mt-1">Suame round about</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Country</h2>
                      <h1 class="text-black font-semibold mt-1">Ghana</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">State/Region/Province</h2>
                      <h1 class="text-black font-semibold mt-1">Ashanti</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">City</h2>
                      <h1 class="text-black font-semibold mt-1">Kumasi</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Postal code</h2>
                      <h1 class="text-black font-semibold mt-1">Gha-541-3456</h1>
                     </div>
                  </div>
                </div>

                <!-- line  -->
                 <div class="w-full h-[1px] bg-gray-200 my-7"></div>
                 <!-- Address information  -->
                <div>
                  <h1 class="font-bold mb-7 text-lg text-black">Locale Information</h1>
                  <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3 gap-4 sm:gap-7">
                     <div>
                      <h2 class="text-gray-500">3 digit Country code </h2>
                      <h1 class="text-black font-semibold mt-1">+233</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">3 digit currency code</h2>
                      <h1 class="text-black font-semibold mt-1">Ghs</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Locale</h2>
                      <h1 class="text-black font-semibold mt-1">Lorem, ipsum.</h1>
                     </div>
                     <div>
                      <h2 class="text-gray-500">Time Zone</h2>
                      <h1 class="text-black font-semibold mt-1">Lorem, ipsum.</h1>
                     </div>
                  </div>
                </div>
              
        </div>
   </div>
</div>
